# Ignore the training and testing datasets
train/
test/
train_mini/
test_mini/

# Ignore the trained model file (it's too big for GitHub)
*.h5

# Ignore python cache files
__pycache__/
.pytest_cache/
.ipynb_checkpoints/